@import '~@angular/material/theming';
@include mat-core();



$my-app-primary: mat-palette($mat-blue-grey);
$my-app-accent:  mat-palette($mat-pink, 500, 900, A100);
$my-app-warn:    mat-palette($mat-deep-orange);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);

$primary: mat-color($my-app-primary);



.nessunodiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .background-primary  {
    background-color: $primary;
    padding: 5px;
  }

  .header {
    min-height: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
  }